html,body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

#mainbox
{
	position: relative;
	height: 100%;
	/*border: 1px solid #000;
	border-radius: 10px;*/
	/*margin: 0 auto;*/
	overflow: hidden;
}

#map
{
	position: absolute;
	top: 0;
	left: 0;
	transform-origin 0 0;
	/*transition: transform 0.3s;*/
}

.tiles{
	position: absolute;
	display: none;
}
.searchbox{
	width: 380px;
	top: 8px;
	left: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) ;
	border-radius: 3px;
	z-index: 3;
	position: absolute;
}
.searchbox>input,.searchbox>span>button
{
	border-radius: 3px;
	height: 48px;
}
.searchbox>span::before{
	content:"";
	display: inline-block;
	border-right:1px solid #ccc;
	height: 28px;
	top:10px;
	position: absolute;
	z-index: 5;
}
.searchbox>span>button{
	border-width: 0px;
}
.searchbox>span>button:hover{
	background-color: #fff;
}
.searchbox>span>button:hover > i.glyphicon-search{
	color:#028bff;
}

.searchbox>input{
	border-width:0px;
	box-shadow:none;
}
.searchbox>input:focus{
	box-shadow: none;
}

i.glyphicon-search{
	color: #30ad11;
	transition: color 0.3s;
	transition-timing-function: ease-in;
}
/*#output{
	background-color: white;
min-height: 100px;
position: relative;
top: -230px;
}*/